/* NavBar.css */

.navbar {
    padding: 1rem;
}

.navbar-list {
    display: flex;
    justify-content: left;
    /* Centers the links horizontally */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 1rem;
    /* Space between each link */
}

.navbar-link {
    color: black
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    /* Adds padding around the link text */
    border-radius: 4px;
    /* Rounded corners */
    transition: background-color 0.01s, color 0.01s;
    /* Smooth transition for hover effects */
}

.navbar-link:hover {
    background-color: #1e00ff6a;
    /* Darker background on hover */
    color: #dddddd;
    /* Lighter text color on hover */
}